* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: repeat(2, auto) 529px auto;
    row-gap: 20px;
}

.main__header {
    background-color: #8cf1f7;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    background-image: url('../img/main__logo.png');
    width: 150px;
    height: 50px;
    background-size: contain;
    margin: 10px 40px;
}

.cabinet {
    align-self: center;
    margin-right: 20px;
}

.lesson__nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 10px 0;
}
.mini__lesson{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 50px;
}
.mini__lesson li {
    border: 1px solid seagreen;
    padding: 5px 10px;
    border-radius: 100%;
    align-self: flex-end;
}
.end__lesson{
    color: white;
    background-color: seagreen;
}

.lesson__nav-list a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    margin-bottom: 5px;
}

.lesson__nav-list a:first-of-type {
    margin-left: 20px;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 560px;
    column-gap: 20px;
    margin: 0 20px;
}
.canvas{
    width: 530px;
    height: 400px;
    background: url("../img/rename.png") no-repeat top;
    background-size: 500px 370px;
    position: relative;
}
.drap__zone {
    margin-right: 30px;
}
.elem{
    display: inline-block;
}
.img__schema{
    width: 350px;
    height: 250px;
    display: inline-block;
}
.next__lesson{
    display: inline-block;
    width: 100px;
    
}
.drap__zone-elements{
    border: 1px solid black;
}
#drapCanvas{
    /*border: 1px solid #000;*/
    background-image: url('../img/rename.png');
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.footer{
    margin-top: 50px;
    height: 50px;
    background-color: #000;
}
.elem-active{
    border: 5px dashed black;
    transform: scale(2);
}
.invisible{
    display: none;
}
.rotate{
    transform: rotateX(90deg);
}